<div>
  

  
<!--
<div class="row tmp-h border">
	<div class="col-xs-3 icon-background">
		<img class="border" src="images/attraction.png" alt="" />
	</div>
	<div class="col-xs-9">
		Attractions
	</div>
</div>

-->


  <div ng-click="chooseCategory('entertainment')">entertainment</div>

  <a ng-click="chooseCategory('geography')">geography</a>

  <div ng-click="chooseCategory('history')">history</div>
  <div ng-click="chooseCategory('sports')">sports</div>



  <p>total score: {{total_score}}</p>
</div>
