
  

<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('sports')" 
			class="width-100" 
			src="images/bar/sport.png" 
			alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('attractions')" 
			class="width-100" 
			src="images/bar/attraction.png" 
			alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('entertainment')" 
			class="width-100" 
			src="images/bar/entertainment.png" 
			alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('history')" 
			class="width-100" 
			src="images/bar/history.png" 
			alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('geography')" 
			class="width-100" 
			src="images/bar/location.png" 
			alt="" />
	</div>
</div>
<div class="row">
	<div class="col-xs-12 category-row-background padding-0">
		<img ng-click="chooseCategory('random')" 
			class="width-100" 
			src="images/bar/random.png" 
			alt="" />
	</div>
</div>



<div class="row">
  <p>total score: {{total_score}}</p>
</div>
