

<div class="container">
<div class="row padding-0 margin-0" 
  style=" height: 16pt; 
   border: 1px solid #AAA9A9;
">
  <div class="col-xs-2 p-bar-col padding-0 margin-0" id="p1">
  </div>    
  <div class="col-xs-2 p-bar-col" id="p2">
  </div>
  <div class="col-xs-2 p-bar-col" id="p3">
  </div>
  <div class="col-xs-2 p-bar-col" id="p4">
  </div>
  <div class="col-xs-2 p-bar-col" id="p5">
  </div>                
  <div class="col-xs-2 p-bar-col padding-0 margin-0" id="p6">
    {{get_q_index()+1}} /{{get_q_limit()}}
  </div>
</div>



<div class="row">
	<div class="col-xs-12 lato-light tac" 
    style="font-size: 30pt;">
    {{question}}
	</div>
</div>


<div ng-if="isMc">    
  <div ng-repeat="(value, option) in option" >
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          <input type="radio" ng-model="formData.mc_val" value="{{value}}" />
        </div>
      </div>
      <div class="col-xs-8 option-button vertical-align-table-p" >
        <div class="vertical-align-table-c">
          {{option}}
        </div>
      </div>
      <div class="col-xs-1">
      </div>                              
    </div>
  </div>
</div>


<div ng-if="isCheck">
  <div ng-repeat="(value, option) in option" >
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          <input type="checkbox" 
          checklist-model="formData.check_val" 
          checklist-value="value" />
        </div>
      </div>
      <div class="col-xs-8 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          {{option}}
        </div>
      </div>
      <div class="col-xs-1">
      </div>                              
    </div>
  </div>
</div>


<div ng-if="isFill">

  <div class="row">
    <div class="col-xs-2">
    </div>        
    <div class="col-xs-8">
     <!--  <input class="textbox" type="text" ng-model="formData.fill_val" /> -->

     <div class="row" id="input-textbox">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Answer.. ">
        </div><!-- /input-group -->
    </div><!-- /.row -->




    </div>        
    <div class="col-xs-2">
    </div>                        
  </div>
</div>

<div class="row timer">
  <div class="col-xs-12">
    0:{{time_limit}}
  </div>
</div>

<div class="row" id="submit-button">

  <div class="col-xs-3">
      <button type="button" class="btn btn-default btn-lg" name="submit_button"  ng-click="submitAnswer()">
    <span aria-hidden="true" id="buttonInside" id="buttoninside"></span> Submit 
  </button>
  
 </div>

</div>

</div>