


<div class="row padding-0 margin-0" 
  style=" height: 16pt; 
   border: 1px solid black;
">
  <div class="col-xs-2 p-bar-col padding-0 margin-0" id="p1">
  </div>    
  <div class="col-xs-2 p-bar-col" id="p2">
  </div>
  <div class="col-xs-2 p-bar-col" id="p3">
  </div>
  <div class="col-xs-2 p-bar-col" id="p4">
  </div>
  <div class="col-xs-2 p-bar-col" id="p5">
  </div>                
  <div class="col-xs-2 p-bar-col" id="p6">
    {{get_q_index()+1}} /{{get_q_limit()}}
  </div>
</div>




<div class="row">
	<div class="col-xs-12" 
    style="font-family: 'LatoLight', Georgia; 
      font-size: 12pt; 
      text-align: center;">
    {{question}}
	</div>
</div>


<!--
<div class="row">
  <div class="col-xs-1">
  </div>

  <div class="col-xs-10">



    <div ng-if="isMc">        
      <div ng-repeat="(value, option) in option" class="option-button">
        <input type="radio" ng-model="formData.mc_val" value="{{value}}" />{{option}}
      </div>
    </div>

    <div ng-if="isCheck">
      <div ng-repeat="(value, option) in option" class="option-button">
        <input type="checkbox" checklist-model="formData.check_val" 
        checklist-value="value" />{{option}}
      </div>
    </div>

    <div ng-if="isFill">
      <input type="text" ng-model="formData.fill_val" />
    </div>

    <div>
      <button name="submit_button"  ng-click="submitAnswer()">Submit</button>         
    </div>



  </div>

  <div class="col-xs-1">
  </div>  
</div>

-->

<div ng-if="isMc">    
  <div ng-repeat="(value, option) in option" >
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          <input type="radio" ng-model="formData.mc_val" value="{{value}}" />
        </div>
      </div>
      <div class="col-xs-8 option-button vertical-align-table-p" >
        <div class="vertical-align-table-c">
          {{option}}
        </div>
      </div>
      <div class="col-xs-1">
      </div>                              
    </div>
  </div>
</div>


<div ng-if="isCheck">
  <div ng-repeat="(value, option) in option" >
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-2 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          <input type="checkbox" 
          checklist-model="formData.check_val" 
          checklist-value="value" />
        </div>
      </div>
      <div class="col-xs-8 option-button vertical-align-table-p">
        <div class="vertical-align-table-c">
          {{option}}
        </div>
      </div>
      <div class="col-xs-1">
      </div>                              
    </div>
  </div>
</div>


<div ng-if="isFill">

  <div class="row">
    <div class="col-xs-2">
    </div>        
    <div class="col-xs-8">
      <input class="textbox" type="text" ng-model="formData.fill_val" />
    </div>        
    <div class="col-xs-2">
    </div>                        
  </div>
</div>



<div class="row">
  <div class="col-xs-9">
  </div>
  <div class="col-xs-3">
    <button name="submit_button"  ng-click="submitAnswer()">Submit</button>
  </div>
</div>






<div class="row timer">
  <div class="col-xs-12">
    0:{{time_limit}}
  </div>
</div>
