<div class="border">
  <div classs="row">
  	<div class="col-xs-12">
  	timer ( 0:{{time_limit}})
  	</div>
  </div>
  <div classs="row">
  	<div class="col-xs-12">
  	progress bar {{get_q_index()+1}} / {{get_q_limit()}}
  	</div>
  </div>
  <div classs="row">
  	<div class="col-xs-12">
  		<div>
        {{question}}
      </div>

      <div ng-if="isMc">        
        <div ng-repeat="(value, option) in option">
          <input type="radio" ng-model="formData.mc_val" value="{{value}}" />{{option}}
        </div>
      </div>

      <div ng-if="isCheck">
        <div ng-repeat="(value, option) in option">
          <input type="checkbox" checklist-model="formData.check_val" checklist-value="{{value}}" />{{option}}
        </div>
      </div>

      <div ng-if="isFill">
        <input type="text" ng-model="formData.fill_val" />
      </div>

      <div>
        <button name="submit_button"  ng-click="submitAnswer()">Submit</button>         
      </div>

  	</div>
  </div>
</div>
