.border{
	border: 1px solid black;
}

.border-r{
  border: 1px solid red;
}

.border-b{
  border: 1px solid blue;
}

.border-g{
  border: 1px solid green;
}

.float-left{
  float: left;
}


.tmp-h{
  height: 150px;
}

.da0{
  padding: 0;
  margin: 0;
}
.padding-0{
  padding: 0;
}
.margin-0{
  margin: 0;
}

.width-30{
  width: 30%;
}

.width-50{
  width: 50%;
}

.width-45{
  width: 45%;
}

.width-80{
  width: 80%;
}

.width-100{
  width: 100%;
}

.height-100{
  height: 100%;
}

.tac{
  text-align: center;
}
.tal{
  text-align: left;
}

.lato-semi-bold{
  font-family: 'LatoSemibold', Georgia;
}
.lato-light{
  font-family: 'LatoLight', Georgia;
}

.pos-rel{
  position: relative;
}

.pos-abs{
  position: absolute;
}

.pos-fix{
  position: fixed;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.vertical-align-table-p{
  display: table;
}

.vertical-align-table-c{
  display: table-cell;
  vertical-align: middle;
}

.margin-tb-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.margin-lr-auto{
  margin-left: auto;
  margin-right: auto;
}

.display-t{
  display: table;
}