


body{
  background-color: #EAEAEA;
  /*#ebebeb;*/
}




.category-row-background{
  /*background-color: #3bab62;*/
  width: 90%;
  height: auto;
  margin-left: 5%;

}

/* 적용 안됨 시발
.p-bar-row{
	height: 14pt;
	border: 1px solid black;
}
*/

.p-bar-col{
	height: 14pt;
	color: #78c192;
}

.option-button{
	height: 60px;
	background-color: #78c192;

	border: 1px solid #78c192;
	

	color: #ddeee3;
	font-family: 'LatoLight', Georgia;
	font-size: 14pt;

	margin-bottom: 10px;
}


.option-button2{
	background-color: #78c192;
}


.timer{
	text-align: center;
	font-family: 'LatoBold', Georgia;
	font-size: 14pt;
	color: #fd876c;
}


.textbox {
    width: 100%;
    border: solid 1px #ccc;
    height: 26px;

    background: #78c192;
    background: -moz-linear-gradient(top, #78c192 0%, #78c192 20%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78c192), color-stop(20%, #78c192));

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 0 #f2f2f2;
    -webkit-box-shadow: 0 1px 0 #F2F2F2;

    font-family: 'LatoBold', Georgia;
    font-size: 16px;

    color: #ddeee3;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #334F71;
}

.textbox:focus {
    background: #5ab37a;
    background: -moz-linear-gradient(top, #5ab37a 0%, #5ab37a 20%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ab37a), color-stop(20%, #5ab37a));
    outline: 0;
}


.result-page-container{
	background-color: #BFBDBD;
    
}

.answer-panel{
    background-color: white;
    padding: 10px;
}

.answer-panel-bot{
    width: 100%;
    text-align: center;
/*    background-color: #BFBDBD;*/
    padding: 10px;
    margin: 10px;
}   

.answer-panel-bot > div{
    background-color: #78c192;
}


.answer-panel-option-button{
    height: 60px;
    background-color: #78c192;
    width: 100%;
    border: 1px solid #78c192;
    

    color: #ddeee3;
    font-family: 'LatoLight', Georgia;
    font-size: 14pt;
    margin-bottom: 10px;
}



.swipe-icon{
    background-color: white;
    border: 1px solid #333;
    height: 20px;
    width: 20px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;

    margin: 1px;
}

.swipe-icon-colored{
    background-color: blue;
    border: 1px solid #333;
    height: 20px;
    width: 20px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    margin: 1px;    
}

#score{
    /*padding-top: 10pt;*/
    margin-bottom: 10pt;
    text-align: center;
    font-size: 27pt;
    color: #777C7C;
   /* border: 1px solid #333;
    width: 672px;*/
}

#header-text{
    font-size: 25pt;
    margin-right: 10pt;
    margin-left: 10pt;
    margin-top: 5pt;
    /*border: 1px solid #333;*/
    color: #5FB278; 
}


#categories{
   /* border: 1px solid #333;*/
    padding-bottom: 15px;
    padding-top: 20pt;
}

.container{
   /*background-color: #D8D6D6;*/
}

#big-home{
    /*border: 1px solid #333;*/
    border-bottom: 1px solid #BFBEBE;
   /* background-color: #D1D1D1;*/  
   padding-bottom: 10pt;
}

.input-group{
    width: 100%;
}



#input-textbox{
    margin-top: 5px;
    margin-bottom: 30px;    
}

#submit-button{
    margin-top: 15px; 
    /*border: 1px solid #333;*/
    /*padding-left: 35%;  */
}

.timer{
    font-size: 30pt;
}

.btn-xlarge {
    padding: 48px 58px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}



#result-font{
    font-size: 30pt;

    margin-top: 10px;
    margin-bottom: 5px;
    color: #777C7C;
}


#redo-button{
    margin-top: 2pt;
    font-size: 30pt;

}

.retry{
    color: #FFFFFF;
    font-size: 20pt;
}